body{
    background-color:#6b7b8c;
    color:whitesmoke;
    text-align: center;
}

.heading{
width:80%;
font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width:350px;
    height:300px;
}

.name_of_objects , #result_object_name,#result_object_accuracy{
    background-color: yellow;
  color:grey;
  padding:10px;
  width: 40%;
}